<%= form_with(model: vecino, local: true) do |form| %>
  <% if vecino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vecino.errors.count, "error") %> prohibited this vecino from being saved:</h2>

      <ul>
      <% vecino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento, id: :vecino_documento %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :vecino_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :vecino_apellidos %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :vecino_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :vecino_usuario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
