<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @vecino.documento %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @vecino.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @vecino.apellidos %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @vecino.fecha_nacimiento %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @vecino.usuario %>
</p>

<%= link_to 'Edit', edit_vecino_path(@vecino) %> |
<%= link_to 'Back', vecinos_path %>
