<%= form_with(model: puntorecoleccion, local: true) do |form| %>
  <% if puntorecoleccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puntorecoleccion.errors.count, "error") %> prohibited this puntorecoleccion from being saved:</h2>

      <ul>
      <% puntorecoleccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zona_id %>
    <%= form.text_field :zona_id, id: :puntorecoleccion_zona_id %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :puntorecoleccion_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :puntorecoleccion_descripcion %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_area :direccion, id: :puntorecoleccion_direccion %>
  </div>

  <div class="field">
    <%= form.label :latitud %>
    <%= form.text_field :latitud, id: :puntorecoleccion_latitud %>
  </div>

  <div class="field">
    <%= form.label :longitud %>
    <%= form.text_field :longitud, id: :puntorecoleccion_longitud %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
