<p id="notice"><%= notice %></p>

<h1>Puntorecoleccions</h1>

<table>
  <thead>
    <tr>
      <th>Zona</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Direccion</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puntorecoleccions.each do |puntorecoleccion| %>
      <tr>
        <td><%= puntorecoleccion.zona %></td>
        <td><%= puntorecoleccion.nombre %></td>
        <td><%= puntorecoleccion.descripcion %></td>
        <td><%= puntorecoleccion.direccion %></td>
        <td><%= puntorecoleccion.latitud %></td>
        <td><%= puntorecoleccion.longitud %></td>
        <td><%= link_to 'Show', puntorecoleccion %></td>
        <td><%= link_to 'Edit', edit_puntorecoleccion_path(puntorecoleccion) %></td>
        <td><%= link_to 'Destroy', puntorecoleccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puntorecoleccion', new_puntorecoleccion_path %>
