<p id="notice"><%= notice %></p>

<p>
  <strong>Zona:</strong>
  <%= @puntorecoleccion.zona %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @puntorecoleccion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @puntorecoleccion.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @puntorecoleccion.direccion %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @puntorecoleccion.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @puntorecoleccion.longitud %>
</p>

<%= link_to 'Edit', edit_puntorecoleccion_path(@puntorecoleccion) %> |
<%= link_to 'Back', puntorecoleccions_path %>
