<p id="notice"><%= notice %></p>

<h1>Tiporesiduos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiporesiduos.each do |tiporesiduo| %>
      <tr>
        <td><%= tiporesiduo.nombre %></td>
        <td><%= tiporesiduo.descripcion %></td>
        <td><%= link_to 'Show', tiporesiduo %></td>
        <td><%= link_to 'Edit', edit_tiporesiduo_path(tiporesiduo) %></td>
        <td><%= link_to 'Destroy', tiporesiduo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiporesiduo', new_tiporesiduo_path %>
