<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tiporesiduo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tiporesiduo.descripcion %>
</p>

<%= link_to 'Edit', edit_tiporesiduo_path(@tiporesiduo) %> |
<%= link_to 'Back', tiporesiduos_path %>
