<%= form_with(model: entrega, local: true) do |form| %>
  <% if entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrega.errors.count, "error") %> prohibited this entrega from being saved:</h2>

      <div class="alert alert-danger">
          <ul>
              <% entrega.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
      </div>
      
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vecino_id %>
    <%= form.text_field :vecino_id, id: :entrega_vecino_id %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :entrega_estado %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso, id: :entrega_peso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
