<p id="notice"><%= notice %></p>

<h1>Entregas</h1>

<table>
  <thead>
    <tr>
      <th>Vecino</th>
      <th>Recolector</th>
      <th>Estado</th>
      <th>Peso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregas.each do |entrega| %>
      <tr>
        <td><%= entrega.vecino %></td>
        <td><%= entrega.recolector %></td>
        <td><%= entrega.estado %></td>
        <td><%= entrega.peso %></td>
        <td><%= link_to 'Show', entrega %></td>
        <td><%= link_to 'Edit', edit_entrega_path(entrega) %></td>
        <td><%= link_to 'Destroy', entrega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrega', new_entrega_path %>
