<p id="notice"><%= notice %></p>

<div class="card">
    <div class="card-header">
      Detalle
    </div>
    <div class="card-body">
        <p>
          <strong>Vecino:</strong>
          <%= @entrega.vecino %>
        </p>
        
        <p>
          <strong>Estado:</strong>
          <%= @entrega.estado %>
        </p>
        
        <p>
          <strong>Peso:</strong>
          <%= @entrega.peso %>
        </p>
    </div>
  </div>



<%= link_to 'Editar', edit_entrega_path(@entrega) %> |
<%= link_to 'Atrás', entregas_path %>
