<p id="notice"><%= notice %></p>

<div class="container">
<!--
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
-->

  <div class="panel panel-header">
    <div class="panel-body">
      <% if @solicituds.any? %>
        <h2>Crear una solicitud</h2>
        <div class="card-body">
          <% @solicituds.each do |solicitud| %>
            <div class="card">
              <div class="card-header">
                <strong><%= solicitud.titulo %></strong>
              </div>
              <div class="card-body">
                <p>
                  Tiulo: <%= solicitud.titulo %><br>
                  Fecha recolección: <%= solicitud.fecha_recoleccion %><br>
                  Descripción: <%= solicitud.descripcion %>
                </p>
                <%= link_to 'Ver', solicitud, class:'btn btn-light' %>
                <%= link_to 'Editar', edit_solicitud_path(solicitud), class:'btn btn-light' %>
                <%= link_to 'Eliminar', solicitud, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-light' %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
      <% else %>
        <h3>No tienes solicitudes</h3>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container">
  <h3>Tabs</h3>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#" class="btn btn-light">Todas</a></li>
    <li class="btn btn-light"><a href="#" >Recientes</a></li>
    <li class="btn btn-light"><a href="#">Pendientes</a></li>
    <li class="btn btn-light"><a href="#">Finalizadas</a></li>
  </ul>
  <br>
  <p><strong>Note:</strong> This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p>
</div>

<%= link_to 'Crear Solicitud', new_solicitud_path, :class => 'btn btn-primary' %>
