<p id="notice"><%= notice %></p>
  
<div class="container">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
      <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
      <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
      </div>
    </div>


  <div class="container">
    <h3>Tabs</h3>
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#" class="btn btn-light">Todas</a></li>
      <li class="btn btn-light"><a href="#" >Recientes</a></li>
      <li class="btn btn-light"><a href="#">Pendientes</a></li>
      <li class="btn btn-light"><a href="#">Finalizadas</a></li>
    </ul>
    <br>
    <p><strong>Note:</strong> This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p>
  </div>
  <div class="panel panel-header">
    <div class="panel-body">
      <% if @solicituds.any? %>
        <h2>Crear una solicitud</h2>
        <div class="card-body">
          <% @solicituds.each do |solicitud| %>
            <div class="card">
              <div class="card-header">
                <strong><%= solicitud.titulo %></strong>
              </div>
              <div class="card-body">
                <p><%= solicitud.fecha_recoleccion %></p>
                <p><%= solicitud.descripcion %></p>
                <%= link_to 'Ver', solicitud, class:'btn btn-light' %>
                <%= link_to 'Editar', edit_solicitud_path(solicitud), class:'btn btn-light' %>
                <%= link_to 'Eliminar', solicitud, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-light' %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
      <% else %>
        <h3>No tienes solicitudes</h3>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'Crear Solicitud', new_solicitud_path, :class => 'btn btn-primary' %>
