<p id="notice"><%= notice %></p>

<div class="card">
    <div class="card-header">
      Detalle
    </div>
    <div class="card-body">
        <p>
          <strong>Titulo:</strong>
          <%= @solicitud.titulo %>
        </p>
        
        <p>
          <strong>Descripcion:</strong>
          <%= @solicitud.descripcion %>
        </p>
        
        <p>
          <strong>Fecha recoleccion:</strong>
          <%= @solicitud.fecha_recoleccion %>
        </p>
    </div>
  </div>

<%= link_to 'Editar', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Atrás', solicituds_path %>
