<%= form_with(model: tipoalmacen, local: true) do |form| %>
  <% if tipoalmacen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipoalmacen.errors.count, "error") %> prohibited this tipoalmacen from being saved:</h2>

      <ul>
      <% tipoalmacen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :tipoalmacen_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :tipoalmacen_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
