<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoalmacen.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipoalmacen.descripcion %>
</p>

<%= link_to 'Edit', edit_tipoalmacen_path(@tipoalmacen) %> |
<%= link_to 'Back', tipoalmacens_path %>
