<p id="notice"><%= notice %></p>

<p>
  <strong>Tiporesiduo:</strong>
  <%= @residuo.tiporesiduo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @residuo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @residuo.descripcion %>
</p>

<%= link_to 'Edit', edit_residuo_path(@residuo) %> |
<%= link_to 'Back', residuos_path %>
