<%= form_with(model: publicacion, local: true) do |form| %>
  <% if publicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publicacion.errors.count, "error") %> prohibited this publicacion from being saved:</h2>

      <ul>
      <% publicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :publicacion_titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :publicacion_descripcion %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.text_area :imagen, id: :publicacion_imagen %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :publicacion_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
