<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @ofertum.almacen %>
</p>

<p>
  <strong>Residuo:</strong>
  <%= @ofertum.residuo %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @ofertum.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ofertum.descripcion %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @ofertum.descuento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ofertum.estado %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @ofertum.peso %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ofertum.cantidad %>
</p>

<%= link_to 'Edit', edit_ofertum_path(@ofertum) %> |
<%= link_to 'Back', oferta_path %>
