<%= form_with(model: recolector, local: true) do |form| %>
  <% if recolector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recolector.errors.count, "error") %> prohibited this recolector from being saved:</h2>

      <ul>
      <% recolector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :recolector_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :recolector_apellidos %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :recolector_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.text_field :empresa, id: :recolector_empresa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
