<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @recolector.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @recolector.apellidos %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @recolector.fecha_nacimiento %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @recolector.empresa %>
</p>

<%= link_to 'Edit', edit_recolector_path(@recolector) %> |
<%= link_to 'Back', recolectors_path %>
