<p id="notice"><%= notice %></p>

<p>
  <strong>Tipoalmacen:</strong>
  <%= @almacen.tipoalmacen %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @almacen.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @almacen.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @almacen.direccion %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @almacen.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @almacen.longitud %>
</p>

<%= link_to 'Edit', edit_almacen_path(@almacen) %> |
<%= link_to 'Back', almacens_path %>
